/* ==== typograpghy & cleanups ==== */
html, * {
    overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #939292;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #faf340;
  }

body {
    font-family: 'Raleway';
    overflow-x: hidden;
}

/* ==== custom styles ==== */
.text-brand {
    color: #43425D;
}
.text-g-1 {
    color: #F0F0F7;
}
.text-g-2 {
    color: #4D4F5C;
}
.text-b {
    color: #3B86FF;
}
.text-white {
    color: #fff;
}
.text-green {
    color: #05A248;
}

.bg-brand {
    background: #43425D;
}
.bg-black {
    background: #000;
}
.bg-g-1 {
    background: #F0F0F7;
}
.bg-g-2 {
    background: #E0DFF8;
}
.bg-o-1 {
    background: #FDEBC3;
}
.bg-green {
    background: #05A248;
}

.hover-green {
    color: #939292 !important;
    text-decoration: none;
}
    .hover-green:hover {
        color: #faf340 !important;
        letter-spacing: normal !important;
    }

.sh-1 {
    font-size: 2rem;
}
.sh-2 {
    font-size: 1.6rem;
}
.sh-3 {
    font-size: 1.2rem;
}
.sh-l {
    font-weight: 400;
}

.st-1 {
    font-size: 2rem;
}
.st-2 {
    font-size: .9rem;
}
.st-3 {
    font-size: .9rem;
}

a {
    text-decoration: none;
}
    a:hover {
        text-decoration: none;
        color: #faf340;
    }
.italics {
    font-style: italic;
}

.btn {
    width: 150px !important;
    box-sizing: border-box;
}
.btn-b {
    border: 1px solid #000;
}

.cursor-pointer {
    cursor: pointer;
}



@media screen and (max-width:1024px) {
    .sh-1 {
        font-size: 3rem;
    }
    .sh-2 {
        font-size: 2.1rem;
    }
    .sh-3 {
        font-size: 1.8rem;
    }
    .sh-l {
        font-weight: 400;
    }
    
    .st-1 {
        font-size: 1.5rem;
    }
    .st-2 {
        font-size: 1.2rem;
    }
    .st-3 {
        font-size: 1rem;
    }
}


/* ==== Login page ==== */
.lp {
    width: 100%;
    height: 100%;
    position: fixed;
}
    .lp .row {
        height: 100%;
    }
    .lpc img {
        height: 100%;
        width: 100%;
    }
    .lpc, .lpc2 {
        min-height: 100%;
        background: #fff;
    }
    .lpc2 {
        position: relative;
    }
        .lpc2 .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            transition: .5s;
        }
        .lpc2 input, .lpc2 form {
            width: 100%;
            box-sizing: border-box;
            font-size: .9rem;
        }
        .lpc2 input {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
        }
            .lpc2 input::placeholder {
                font-weight: 500;
                font-size: .8rem;
            }
        .lpc2 input[type=submit], .lpc2 input[type=checkbox], .lpc2 input[type=button] {
            width: auto;
        }
        .signup-form .m-auto, .fp-page .m-auto, .fp-page-2 .m-auto {
            display: block;
            margin: 20px auto !important;
        }
        .showLogin, .fp {
            cursor: pointer;
            text-decoration: underline;
        }
            .showLogin:hover {
               color: #FDEBC3; 
            }


/* ====

DASHBOARD START

==== */
.dashboard {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    width: 100%;
}
    .sidebar {
        width: 20%;
    }
        .sb-header {
            height: 100px;
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
            color: #fff;
        }
            .sb-header p {
                font-weight: 600;
            }
    .sidebar ul {
        padding: 0;
        margin: 0;
    }
        .sidebar li {
            padding: 12px 20px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: .9rem;
            transition: .5s;
        }
            
            .sbl-item.active, .sbl-item:hover {
                background: #fdebc350;
                border-left: 4px solid #FDEBC3;
                transition: .5s;
            }
            .sbl-item .fa.active {
                color: #FDEBC3;
            }
        .sidebar a {
            color: #F0F0F7;
            text-decoration: none;
            transition: .5s;
        }
        .sb-logout-btn {
            display: block;
            width: 100%;
            padding: 12px 20px;
            color: #000 !important;
            text-align: center;
            font-size: .9rem;
            box-sizing: border-box;
            margin-top: 30px;
            transition: 0.5s;
        }
            .sb-logout-btn:hover {
                background: #d8d8da;
                transition: .5s;
                letter-spacing: 1px;
            }

    .main {
        width: 80%;
        height: 100%;
        margin: 0;
        position: relative;
    }
    .submain {
        width: 90%;
        margin: 0 auto;
    }
        .main-header {
            width: 100%;
            height: 100px;
            overflow: hidden;
            box-sizing: border-box;
        }
            .main-header img {
                height: 50px;
                height: 50px;
                border-radius: 50%;
            }
            
            /* cards */
            .c-card {
                min-height: 350px;
                max-height: 350px;
                box-sizing: border-box;
                overflow: hidden;
            }
                .cc-img {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                }
                    .cc-img img {
                        width: 100%;
                        height: 100%;
                        transition: .5s;
                    }
                        .cc-img img:hover {
                            transform: scale(1.1);
                            transition: .5s;
                        }
                .cc-content {
                    margin: 0;
                    background: #fff;
                    height: 158px;
                    overflow: hidden;
                    position: relative;
                }
                    .cc-content a {
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
            .m-card {
                padding: 20px;
                border-radius: 20px;
                height: 200px;
                box-sizing: border-box;
                overflow: hidden;
            }
            .cover {
                position: fixed;
                top: 0;
                left: 0;
                background: #f0f0f7a6;
                width: 100%;
                height: 100%;
                z-index: 98;
                cursor: pointer;
                transform: scale(0);
                transition: 0.5s;
            }
                .cover.active {
                    transform: scale(1);
                    transition: 0.5s;
                }
            .c-modal {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 0.5s;
                width: 60%;
                height: 500px;
                z-index: 99;
                box-shadow: 5px 5px 5px #888;
            }
                #app.active {
                    transform: translate(-50%, -50%) scale(1);
                    transition: 0.5s;
                }
                .pb-btn {
                    height: 20px;
                    width: 20px;
                    background: #fff;
                    color: #000;
                    border-radius: 5px;
                    position: absolute;
                    top: 80px;
                    left: 10px;
                    text-align: center;
                    box-sizing: border-box;
                }
                .end-btns {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                }
                .cm-header {
                    height: 50px;
                    box-sizing: border-box;
                }
                .cm-body {
                    height: 450px;
                    overflow: hidden;
                    box-sizing: border-box;
                }
                    .scm {
                        width: 80%;
                        box-sizing: border-box;
                        overflow: hidden;
                        margin: auto;
                        padding: 20px 0;
                    }
                    .p-bar {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                        .pb-0 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                            .pb-0 > span {
                                font-size: .7rem !important;
                            }
                                .pb-0 span.active {
                                    color: #05A248;
                                }
                        .p-circle {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            border: 1px solid #ccc;
                            box-sizing: border-box;
                            text-align: center;
                            padding: 0;
                            margin: 0;
                            position: relative;
                            overflow: hidden;
                        }
                            .p-circle.active {
                                border: 1px solid #05A248;
                            }
                                .p-circle.active span {
                                    color: #05A248 !important;                                    
                                }
                            .p-circle span {
                                line-height: 50px;
                                font-size: 1.5rem;
                                margin: 0;
                                padding: 0;
                            }
                                .separator {
                                    border-top: 1px solid #ccc !important;
                                    width: 25%;
                                }
                                .separator.bg-green {
                                    border-top: 1px solid #05A248 !important;
                                }
                    .cm-price {
                        width: 70%;
                        margin: 20px auto;
                        text-align: center;
                    }
                        .cmpv {
                            padding: 5px 5px;
                            margin-bottom: 10px;
                            border: none;
                            outline: none;
                            background: none;
                            border-bottom: 2px solid #43425D;
                            width: 100%;
                            display: block;
                            font-size: 2rem;
                        }
                            .cmpv::placeholder {
                                font-size: 2rem;
                            }
                        .payment-form {
                            margin: 10px auto;
                            width: 100%;
                        }
                            .payment-form input {
                                background: none;
                                border: none;
                                padding: 10px 5px;
                                margin-bottom: 5px;
                                border-bottom: 2px solid #43425D;
                                width: 80%;
                                box-sizing: border-box;
                            }
                                .payment-form input::placeholder {
                                    font-size: .9rem;
                                    font-weight: 500;
                                }
                                .pf-split input {
                                    width: 48%;
                                }
           